.ba-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ba-menu__item {
    float: left;
    padding-left: 37px;
}

.ba-menu__item:first-child {
    padding-left: 0;
}

.ba-menu__link {
    display: block;
    text-decoration: none;
    color: #262626;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    padding-top: 18px;
    position: relative;
}

.ba-menu__link:before {
    display: block;
    background-color: #ff6033;
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 8px;
    height: 3px;
    opacity: 0;
    transform: translateY(-10px);
    transition: transform .2s ease-in, opacity .2s ease-in;
}

.ba-menu__link--active:before, .ba-menu__link:hover:before {
    opacity: 1;
    transform: translateY(0);
}

.ba-banner {
    padding: 252px 0;
}

.ba-banner__title {
    font-size: 60px;
    font-weight: 800;
}

.ba-banner__description {
    max-width: 368px;
}

.ba-logo__image {
    display: block;
}

.ba-fresh {
    min-height: 100vh;
    background: #FFF url(../../img/fresh.jpg) 50%;
    background-size: cover;
    padding: 50px 0 120px;
    position: relative;
}

.ba-scroll {
    position: absolute;
    bottom: 69px;
    left: 50%;
    width: 24px;
    margin-left: -12px;
    height: 40px;
    background: url(../../img/scroll.png) no-repeat 50%;
    transition: transform .2s ease-in;
}
