.ba-contact-info {
  margin-left: 170px;
  text-align: left;
  &__titile {
    color: #262626;
    font-family: 'Raleway', sans-serif;
    line-height: 25px;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  &__subtitle {
    color: #262626;
    font-family: 'Raleway', sans-serif;
    line-height: 25px;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;
  }
}